USE [Основы безопасности онлайн покупок и электронных платежей]
GO
/****** Объект:  Table [dbo].[Комментарии]    Дата создания скрипта: 16.06.2026 13:29:33 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Комментарии](
	[id_комментария] [int] IDENTITY(1,1) NOT NULL,
	[id_пользователя] [int] NOT NULL,
	[id_курса] [int] NOT NULL,
	[текст_комментария] [nvarchar](max) NOT NULL,
	[дата_комментария] [datetime] NOT NULL,
	[оценка] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_комментария] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Курсы]    Дата создания скрипта: 16.06.2026 13:29:33 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Курсы](
	[id_курса] [int] IDENTITY(1,1) NOT NULL,
	[название] [nvarchar](200) NOT NULL,
	[описание] [nvarchar](max) NULL,
	[цена] [decimal](10, 2) NULL,
	[автор] [nvarchar](100) NULL,
	[длительность_часов] [int] NULL,
	[дата_создания] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_курса] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Пользователи]    Дата создания скрипта: 16.06.2026 13:29:33 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[id_пользователя] [int] IDENTITY(1,1) NOT NULL,
	[имя] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[пароль] [nvarchar](255) NOT NULL,
	[дата_регистрации] [date] NOT NULL,
	[город] [nvarchar](100) NULL,
	[возрастная_группа] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Комментарии] ON 

INSERT [dbo].[Комментарии] ([id_комментария], [id_пользователя], [id_курса], [текст_комментария], [дата_комментария], [оценка]) VALUES (1, 1, 1, N'Очень доступный курс. Спасибо!', CAST(N'2025-03-01T10:15:00.000' AS DateTime), 5)
INSERT [dbo].[Комментарии] ([id_комментария], [id_пользователя], [id_курса], [текст_комментария], [дата_комментария], [оценка]) VALUES (2, 2, 1, N'Хорошая база, но мало примеров.', CAST(N'2025-03-02T11:30:00.000' AS DateTime), 4)
INSERT [dbo].[Комментарии] ([id_комментария], [id_пользователя], [id_курса], [текст_комментария], [дата_комментария], [оценка]) VALUES (3, 3, 2, N'Сразу нашёл фишинговый сайт!', CAST(N'2025-03-05T14:00:00.000' AS DateTime), 5)
SET IDENTITY_INSERT [dbo].[Комментарии] OFF
GO
SET IDENTITY_INSERT [dbo].[Курсы] ON 

INSERT [dbo].[Курсы] ([id_курса], [название], [описание], [цена], [автор], [длительность_часов], [дата_создания]) VALUES (1, N'Основы безопасных онлайн-покупок', N'Базовый курс для начинающих.', CAST(0.00 AS Decimal(10, 2)), N'Игорь Смирнов', 2, CAST(N'2025-01-01' AS Date))
INSERT [dbo].[Курсы] ([id_курса], [название], [описание], [цена], [автор], [длительность_часов], [дата_создания]) VALUES (2, N'Распознавание фишинговых сайтов', N'Научитесь отличать подделку.', CAST(1500.00 AS Decimal(10, 2)), N'Елена Петрова', 3, CAST(N'2025-01-15' AS Date))
INSERT [dbo].[Курсы] ([id_курса], [название], [описание], [цена], [автор], [длительность_часов], [дата_создания]) VALUES (3, N'Защита банковских карт в интернете', N'Виртуальные карты и платёжные шлюзы.', CAST(2500.00 AS Decimal(10, 2)), N'Алексей Иванов', 4, CAST(N'2025-02-01' AS Date))
SET IDENTITY_INSERT [dbo].[Курсы] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([id_пользователя], [имя], [email], [пароль], [дата_регистрации], [город], [возрастная_группа]) VALUES (1, N'Анна Смирнова', N'anna@mail.ru', N'hash01', CAST(N'2025-01-15' AS Date), N'Москва', N'18-29')
INSERT [dbo].[Пользователи] ([id_пользователя], [имя], [email], [пароль], [дата_регистрации], [город], [возрастная_группа]) VALUES (2, N'Иван Петров', N'ivan@mail.ru', N'hash02', CAST(N'2025-01-20' AS Date), N'Санкт-Петербург', N'30-44')
INSERT [dbo].[Пользователи] ([id_пользователя], [имя], [email], [пароль], [дата_регистрации], [город], [возрастная_группа]) VALUES (3, N'Ольга Козлова', N'olga@mail.ru', N'hash03', CAST(N'2025-02-01' AS Date), N'Казань', N'45-59')
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Пользова__AB6E6164C4CE9A04]    Дата создания скрипта: 16.06.2026 13:29:33 ******/ 
ALTER TABLE [dbo].[Пользователи] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Курсы] ADD  DEFAULT ((0.00)) FOR [цена]
GO
ALTER TABLE [dbo].[Комментарии]  WITH CHECK ADD  CONSTRAINT [FK_Комментарии_Курсы] FOREIGN KEY([id_курса])
REFERENCES [dbo].[Курсы] ([id_курса])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Комментарии] CHECK CONSTRAINT [FK_Комментарии_Курсы]
GO
ALTER TABLE [dbo].[Комментарии]  WITH CHECK ADD  CONSTRAINT [FK_Комментарии_Пользователи] FOREIGN KEY([id_пользователя])
REFERENCES [dbo].[Пользователи] ([id_пользователя])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Комментарии] CHECK CONSTRAINT [FK_Комментарии_Пользователи]
GO
ALTER TABLE [dbo].[Комментарии]  WITH CHECK ADD  CONSTRAINT [CK_Комментарии_оценка] CHECK  (([оценка]>=(1) AND [оценка]<=(5)))
GO
ALTER TABLE [dbo].[Комментарии] CHECK CONSTRAINT [CK_Комментарии_оценка]
GO
